*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

body {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto de color blanco */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff; /* Títulos de color blanco */
}
.display-3 {
  font-weight: bold;
}

p {
  color: #fff; /* Párrafos de color blanco */
}

a {
  color: #fff;
}


/* Asegúrate de que la clase 'my-3' esté definida y aplicada correctamente si quieres usarla para el margen */
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.parrafo-justificado {
  text-align: justify;
}
/* CSS para el navbar */
.navbar {
  color: var(--white);
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es más largo que la altura */
}

.navbar-brand{
  font-weight: bold;
}

.navbar-toggler {
  color: #ffffff; /* Esto cambia el color del icono */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>"); /* Esto cambia el color de las rayas a blanco */
}
/*Card*/
.icono-avion {
  background-color: #40e0d0;
  width: 100%;
  color: white;
  padding: 10px; /* Ajustar el padding */
  margin-bottom: 60px;
}

.card {
  margin-bottom: 60px; /* Ajusta el valor del margen */
  display: flex;
  flex-direction: column;
}
.card-body {
  background-color: #40e0d0; /* Este es el código de color para azul celeste */
  color: #ffffff; /* Esto cambiará el color del texto a blanco si lo deseas */
  padding: 20px; /* Agrega un poco de espacio alrededor del texto */
  flex-grow: 1;
}

.card-highlight {
  background-color: #c5428c; /* color de fondo al resaltar */
  /* Otros estilos para la tarjeta resaltada */
}
.btn {
  background-color: #40e0d0;
}
.bg-cyan {
  background-color: #40e0d0; /* Ajusta el color según necesites */
}

.social-icons a {
  font-size: medium 100px; /* Ajusta el tamaño de los íconos según necesites */
}
.viaje {
  font-weight: bold;
}
.iconos-redes {
  height: 100%;
  padding: 10px;
  font: size 400px;
}

.card-img-top {
  width: top; /* Keep the original width */
  height: 203px !important; /* Set the new fixed height */
}

.card-text {
  padding: 20px; /* Adjust padding as needed */
}
.container {
    padding-top: 0%;
    margin-top: 0px;
}

